/* General Styling */
body {
    margin: 0;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

/* Phone Border Styling */
#phone-border {
    position: relative;
    width: 400px;
    height: 800px;
    background-image: url('assets/phone-border.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* App content inside the phone border */
#app-content {
    width: 85%;
    max-width: 360px;
    height: 700px;
    margin: auto;
    overflow-y: auto;
    background-color: white;
    border-radius: 20px;
}
/* Change phone border for smaller screens */
@media (max-width: 768px) {
    #phone-border {
        background: url('assets/phone-border-white.png') no-repeat center center;
        background-size: contain;
    }
}



/* General table styling */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Responsive wrapper to enable flexing and wrapping */
.responsive-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: auto; /* Allow horizontal scrolling for very narrow screens */
}

/* Table headers and cells styling */
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    word-wrap: break-word;
}

/* Flex content inside table cells */
td {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    table {
        display: block;
    }

    thead {
        display: none; /* Hide headers for mobile */
    }

    tbody tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 10px;
        background-color: #f9f9f9;
    }

    tbody td {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 8px 0;
    }

    tbody td:before {
        content: attr(data-label);
        font-weight: bold;
        width: 50%; /* Adjust width of label */
    }
}


.login-logo {
    width: 25%;
    margin: 0 auto;
    display: block;
}
